<launch>
	<param name="robot_description" command="$(find xacro)/xacro '$(
		find ros_basics_2019)/urdf/robot_description.urdf.xacro'"/>
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0.05"/>

	<!-- Start Gazebo with an empty world loaded -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" default="false"/>
	</include>

	<!-- Spawn your robot model -->
	<node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
		args="-urdf -param robot_description -model G30 -x
		$(arg x) -y $(arg y) -z $(arg z)" />
</launch>
